body {
    background-color: #fbf7f6;
    color: #3e2723;
    margin: 0;
    overflow-x: hidden;
}

#cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 101vh;
    background: #fbf7f6;
}

.chart-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#slider-container {
    background-color: #fbf7f6;
    font-family: 'Muli', sans-serif;
    font-weight:bolder;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-head {
    font-size: 20px;
    padding-left: 10px;
    color: #ffffff;
    width: 100%;
    background-color: #82464e;
}

.slider-foot {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
}

.slider-left {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(130, 70, 78, 1);
    width: 50%;
}

.progress-text {
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 60px 0 0 10px;
    margin-top: 10px;
}

.caffeine-display {
    margin: 3% 0 0 16%;
    font-size: 25px;
}

#control-bar {
    height: 50%;
}

#progress-container {
    margin: 2% 0 0 10.5%;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 5px;
    left: 5%;
    background-color: #e8d6cc;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    position: absolute;
    height: 100%;
    background-color: #53030e;
    transition: width 1.5s ease;
}

.input-part {
    align-items: center;
    margin: 3% 0 0 8%;
}

input[type="number"] {
    width: 30px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#caf-input {
    font-size: 230%;
    width: 53%;
    height: 40%;
}

/* 这个point是给进度条的加点，在js里处理*/
.point {
    position: absolute;
    width: 20px;
    margin: 2.5% 0 0 6.5%;
    height: 20px;
    border-radius: 50%;
    top: 100px;
}

#beverage-options {
    width: 50%;
    box-shadow: 0 4px 8px rgba(130, 70, 78, 1);
    margin-left: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.beverage-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin: 5px;
}

.beverage-detail {
    display: flex;
    flex-direction: column;
}

.quantity {
    width: 30px;
}

.bar-chart-text {
    margin-right: 1vh;
    font: 20px;
}

.caffeine-sleep-chart {
    border: #3e2723 20px;
    margin: 30vh 0 50vh 30vh; 
    height: 10vh;
}

#bar-chart {
    height: 45vh;
}

.pie-chart-text {
    width: 40vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 60vh;
    height: 55vh;
    margin-left: 5vh;
}

.grid-item {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cfc2c2;
    font-size: 24px;
    width: 20vh;
}

.pie-chart-section {
    border: #3e2723 20px;
    margin: 80vh 3vh 40vh 10vh;
    height: 90vh;
    width: 60vh;
}

#sankey-diagram1 {
    height: 45vh;
    z-index: 100;
}

#sankey-diagram2 {
    height: 45vh;
}